/.idea
/.vs
/UnityTransformChanges.Plugin/UnityTransformChanges.Plugin.vcxproj.user
/UnityTransformChanges/bin
/UnityTransformChanges/obj
/UnityTransformChanges.Plugin/bin
/UnityTransformChanges.Plugin/obj
/UnityTransformChanges/Plugins/*/*.lib
/UnityTransformChanges/Plugins/*/*.exp
/UnityTransformChanges/Plugins/*/*.pdb
/cmake-build-debug
/cmake-build-release
/cmake-build-debug.meta
/cmake-build-release.meta
